<div class="mt-4 mb-4 ml-3 mr-3">
  <div>
    <form class="form-inline">
      <div class="form-group mr-2">
        <input required class="form-control" type="text" name="nickname" placeholder="Nickname" [(ngModel)]="nickname" />
      </div>
      <div class="form-group mr-2">
        <input required class="form-control" type="text" name="room" placeholder="Room" [(ngModel)]="room" />
      </div>
      
      <button type="button" class="btn btn-primary mr-2" (click)="joinRoom()">Join room</button>

      <h4>Currently in room: {{ currentRoom }}</h4>
    </form>
  </div>

  <div class="mt-4">
    <form class="form-inline">
      <div class="form-group mr-2">
        <input required class="form-control" type="text" name="messageText" placeholder="Your Message" [(ngModel)]="messageText" />
      </div>
      
      <button type="button" [disabled]="!messageText" class="btn btn-primary" (click)="sendMessage()">Send</button>
    </form>
  </div>
  
  <div class="container"
    [ngStyle]="message.senderId === socket.id ? {'background-color':'#D9EAD3'} : {'background-color': '#f1f1f1'}" 
    *ngFor="let message of messages.slice().reverse() ">
    
    <div *ngIf="message.sender">
      <span class="time-left">{{message.sender}}</span> <br/>
    </div>
    <p>{{ message.msg }}</p>
    <span class="time-right">{{ message.timeStamp }}</span>
  </div>
</div>